bin/
obj/
.vs/
*.user
*.suo
.DS_Store
Thumbs.db

# .NET / MAUI
**/bin/
**/obj/
*.user
.vs/

# Android / Gradle
**/build/
**/.gradle/
**/local.properties
**/*.apk
**/*.aab
**/.cxx/
**/intermediates/

# NDK
**/*.o
**/*.a
**/*.so

# VS Code
.vscode/settings.json
.vscode/*.log

# OS
.DS_Store
Thumbs.db


#WAD Files important we don't share these
*.wad
*.WAD

# dotenv files
.env

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs